.onePizza{
    width: 400px;
    height: 400px;
    /*background: black;*/
    color: black;
    display: grid;
    grid-template-areas:
    "title title"
    "image price"
    "description description";
    grid-template-columns: 300px 100px;
    grid-template-rows: 50px 220px 50px;
    /*gap: 40px;*/
    border: 2px black solid;
    padding: 8px;
    border-radius: 7px;
}

.onePizza:hover{
    background: grey;
}

.image{
    grid-area: image;
    height: 200px;

}

.description{
    grid-area: description;
    color: white;
    font-size: 20px;

}


.title{
    color: white;
    font-size: 30px;
    padding: 4px 0;
    grid-area: title;
}

.price{
    color: white;
    font-size: 25px;
    padding: 2px 4px;
    grid-area: price;

}

.pizzaImg{
    max-width: 300px;
    max-height: 220px;
    /*padding: 10px 0;*/
    border-radius: 4px;
}

.cartItem {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 5px;
}


.active {
    background: green;
}
.active:hover {
    background: red;
}
.noActive {
    background: none;
}
.noActive:hover {
    background: green;
}

@media screen and (max-width: 450px){
    .onePizza{
        /* 0.875 - proportion */
        width: 350px;
        height: 350px;
        /*background: black;*/
        color: black;
        display: grid;
        grid-template-areas:
    "title title"
    "image price"
    "description description";
        grid-template-columns: 252px 98px;
        grid-template-rows: 44px 175px 44px;
        /*gap: 40px;*/
        border: 2px black solid;
        padding: 5px;
        border-radius: 7px;
    }
    .image{
        max-height: 170px;
    }
    .description{
        grid-area: description;
        color: white;
        font-size: 18px;

    }

    .title{
        color: white;
        font-size: 25px;
        padding: 3px 0;
        grid-area: title;
    }
    .price{
        color: white;
        font-size: 22px;
        padding: 2px 6px;
        grid-area: price;
        text-align: end;
    }
    .pizzaImg{
        max-width: 265px;
        max-height: 170px;
        border-radius: 4px;
    }
}


@media screen and (max-width: 390px) {
    .onePizza{
        /* 0.875 - proportion */
        width: 300px;
        height: 300px;
        /*background: black;*/
        color: black;
        display: grid;
        grid-template-areas:
    "title title"
    "image price"
    "description description";
        grid-template-columns: 240px 60px;
        grid-template-rows: 40px 175px 40px;
        /*gap: 40px;*/
        border: 2px black solid;
        padding: 5px;
        border-radius: 7px;
    }
    .image{
        height: 150px;
    }
    .description{
        grid-area: description;
        color: white;
        font-size: 16px;
    }
    .title{
        color: white;
        font-size: 22px;
        padding: 2px 0;
        grid-area: title;
    }
    .price{
        color: white;
        font-size: 20px;
        padding: 1px 4px;
        grid-area: price;
        text-align: end;
    }
    .pizzaImg{
        width: 240px;
        border-radius: 3px;
    }
    /*



.pizzaImg{
    width: 300px;
    /*padding: 10px 0;
     */
}